{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
<head>
   <meta charset="UTF-8"/>
   {%block title%} Blog Avalanche {%endblock%}
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}

</head>
{%block body%}
   <div class = "titulos blog">
      <h1>Notícias Avalanche</h1>
   </div>
   <div class="Posts">
      {% for post in page_obj %}
      <li> <a href="{% url 'Post_view' post.slug %}">{{post.name}} </a> </li>
      {% endfor %}

{% include 'paginacao.html' %}
{% bootstrap_javascript jquery='full'%}
{%endblock%}
</html>