<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>
    {%block title%}Blog do Urso{%endblock%}
{%block description%}<meta name="description" content="Blog do Urso">{%endblock%}
{%block body%}
<div class="blog-area">
<main>
	{%for post in page_obj %}
	{%if forloop.counter|divisibleby:"2" %}
	<section class="default-blogs dark-blogs">
		<div class="section-title-blogs">{{post.name}}</div>
		<div class="section-body-blogs">
	    	<div class="section-blogs">
	    		<div class="section-blogs--right---esquerda">
	            	<img src = "{{post.image.url}}"/>
	        	</div>
	    		<div class="section-blogs--left---esquerda">
	                <p>{{post.previa|linebreaks}}</p>
	                <br/>
	                <a href="{% url 'Post_view' post.slug %}" class="section-button-dark">Ver post</a>
	            </div>
	        </div>
	   	</div>
	</section>
	{% else %}
	<section class="default-blogs light-blogs">
		<div class="section-title-blogs">{{post.name}}</div>
		<div class="section-body-blogs">
	    	<div class="section-blogs">
	    		<div class="section-blogs--left">
	                <p>{{post.previa|linebreaks}}</p>
	                <br/>
	                <a href="{% url 'Post_view' post.slug %}" class="section-button-light">Ver post</a>
	            </div>
	        	<div class="section-blogs--right">
	            	<img src="{{post.image.url}}" />
	        	</div>
	        </div>
	   	</div>
	</section>
	{%endif%}
	{%endfor%}
</main>
</div>
{% include 'paginacao.html' %}
{%endblock%}
</html>