{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}{{Posts.name}}{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>

{%block body%}
    <h1>{{posts.name}}</h1>
    <p>{{posts.conteudo}}</p>
   {% if posts.image.url != blank%}
    <img src = "{{Posts.image.url}}">
   {%endif%}
{% bootstrap_javascript jquery='full'%}
{%endblock%}

