{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Cadastro{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
<h2>Cadastro de usuarios</h2>
{% bootstrap_messages %}
  <form  method="post" class="Cadastro">
    {% csrf_token %}
      {%bootstrap_form form%}
       {% buttons%}
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    {% endbuttons %}
  </form>
{% bootstrap_javascript jquery='full'%}
{%endblock%}
