<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>

{%block title%}Login{%endblock%}
{%block body%}
{% bootstrap_messages %}
<section class="login-section container">
    <div class="login-logo">
        <img src="{%static 'assets/Logo.svg'%}" width="100" height="100" alt="">
    </div>
        <div class="login-info">
                <form  method="POST" class="form_contato">
                {% csrf_token %}
                {%bootstrap_form form%}
                        {% buttons%}
                                <button type="submit" class="btn btn-primary">Resetar senha</button>
                        {% endbuttons %}
                </form>
        </div>

</section>
{%endblock%}
