<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>

    {%block title%}{{Games.name}}{%endblock%}

{%block body%}
{% bootstrap_messages %}
<main>
    <section class="default-e-sports light-e-sports" style="min-height:85vh;">
        <div class="section-title-e-sports">{{Games.name}}</div>
        <div class="section-body-e-sports">
            <div class="section-e-sports">
                <div class="section-e-sport-left">
                    <p>{{Games.descricao}}</p>
                    {%if user.is_authenticated and Games.Status == 'Ativo' %}
                        <form  method="post" class="inscricao_games">
                            {% csrf_token %}
                            {% buttons%}
                            <button type="submit" class="btn btn-primary">inscrever-me</button>
                            {% endbuttons %}
                        </form>
                    {%endif%}
    <br/>
                </div>
                {% if Games.image.url != blank%}
                <div class="section-e-sport-right">
                    <img src = "{{Games.image.url}}">
                </div>
                {%endif%}
            </div>
        </div>
    </section>
    </section>
     <section class="default dark bg-evento" style="min-height:30vh; display:none;">
        <div class="section-evento-area">
            <div class="section-title">Galeria {{Modalidades.name}}</div>
            <div class="section-desc"></div>
                    <div class="sliders">
                        <a class="previous"  style="color:#FFFAFA;" onclick="plusSlides(-1)"><p >&#10094;</p></a>
                        <a class="nextslide" style="color:#FFFAFA;" onclick="plusSlides(1)"><p>&#10095;</p></a>
                        {% for midia in Midias%}
                        <div class="slide">
                            <div class="slidearea">
                                <img class="section-esporte--avatar" src="{{midia.foto.url}}" />
                            </div>
                        </div>
                        {%endfor%}
                    </div>
        </div>
    </section>
</main>

{%endblock%}
</html>