{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
{%block title%} A.A.A.E.A UTFPR-CT{%endblock%}
{%block body%}
<main>
    {% bootstrap_messages %}
    <section class="banner">
            <div class="slide">
                    <a href="{% url 'SobreNos' %}"><img src="{%static 'assets/Banner1.jpg'%}"></a>
            </div><div class="slide">
                <a href="{%url 'Socio'%}""><img src="{%static 'assets/Banner2.jpg'%}"></a>
            </div><div class="slide">
                <a href="{% url 'Esportes'%}"><img src="{%static 'assets/Banner3.jpg'%}"></a>
            </div>
        <div class="sliders-pointers">
            <div class="pointer" onclick="set_slide(0)"></div>
            <div class="pointer" onclick="set_slide(1)"></div>
            <div class="pointer" onclick="set_slide(2)"></div>
        </div>
    </section>

    <section class="default light  container" >
        <div class="section-title">Sobre nós</div>
        <div class="section-desc">Conheça a avalanche</div>
        <div class="section-body">
            <div class="section-aboutus">
                <div class="section-aboutus--left">
                    <p>Fundada em 28 de Agosto de 2009, A.A.A.E.A - Associação Atlética Acadêmica de Engenharia e Arquitetura da Universidade Tecnológica do Paraná, Campus Curitiba ou simplesmente Avalanche. Somos um começo, um refúgio e ao mesmo tempo uma libertação, mesmo que às duras penas, para uma mudança na forma como a jornada de um curso de Engenharia ou Arquitetura é enfrentada.</p>
                    <br/>
                    <a href="{% url 'SobreNos' %}" class="section-button">Continue lendo</a>
                </div>
                <div class="section-aboutus--right" style="max-height:450px;">
                    <img  src="{%static 'assets/Sobrenos.jpeg' %}" />
                </div>
            </div>
        </div>
    </section>

    <section class="default dark">
        <div class="section-title"><a href="{% url 'Esportes'%}">Esportes</a></div>
        <div class="section-desc">Destaques esportes avalanche</div>
        <div class="section-body">
            <div class="section-services">
                {%for esporte in Modalidades|slice:":4"%}
                <div class="section-service">
                    <img class="index-img-esportes" src="{{esporte.logo.url}}" />
                    <a  class="link-branco" href="{%url 'Modalidades_View' esporte.slug%}"><h4>{{esporte.name}}</h4></a>
                </div>
                {%endfor%}

            </div>
        </div>
    </section>

    <section class="section-map  - container">
            <h2 style="color:#050329;font-family:'Road_Rage', Arial, Helvetica, sans-serif;">Onde Estamos ?</h2>
        <div class="map">
                <div class = "google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.9322846631994!2d-49.27000273059359!3d-25.440527326864046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce465f9b0c855%3A0xda22d429219f2f12!2sUTFPR%20Campus%20Curitiba!5e0!3m2!1spt-BR!2sbr!4v1596433584206!5m2!1spt-BR!2sbr"  frameborder="0" style="border:0; padding-bottom:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="map-info" style="font-size:12px;">
                    <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/localizacao.png' %}" />
                        </div>
                    <p>Av. Sete de Setembro, 3165 - Rebouças, Curitiba - PR, 80230-901</p>
                    </div>
                    <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/whatsapp.svg' %}" />
                        </div>
                    <p>(41) 9 8759-8657</p>
                    </div>
                    <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/facebook.svg' %}" />
                        </div>
                    <p>www.facebook.com/avalancheutfpr</p>
                    </div>
                    <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/insta.svg' %}" />
                        </div>
                    <p>@avalancheutfpr</p>
                    </div>
                     <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/gmail.png' %}" />
                        </div>
                    <p>diretoria@atleticutfpr.com.br</p>
                    </div>
                    <div class="map-info-item">
                        <div class="map-info-item-image">
                            <img src="{% static 'assets/twitch.svg' %}" />
                        </div>
                    <p>https://www.twitch.tv/avalancheutfpr</p>
                    </div>
                </div>
        </div>
    </section>


</main>

<script src="{%static 'js/banner.js'%}"></script>
{%endblock%}
</html>