#add_review_form #id_title, #add_review_form #id_body {
    max-width:500px !important;
}
.navbar-default{
    border-color:transparent !important;
}
.navbar-collapse{
box-shadow:none !important;
}
.navbar-header{
border-color:transparent !important;
}
.navbar-default .navbar-collapse{
    border-color:transparent !important;
}
.menu{
    min-height:120px !important;
    background-color:#050329 !important;
    position: relative !important;
    border-radius:0 !important;
}

.menu-itens{
    padding-top:2em !important;
}
.menu-bot{
    margin-top:2em !important;
}
.menu-itens-right{
    padding-top:2em !important;
    padding-right:1em !important;
}

.menu-link{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration:none !important;
    color:#F2F2F2 !important;
    font-size:18px !important;
    padding:15px 8px 15px 8px !important;


}
.dp-link{
    font-size: 1.7rem !important;
    padding: 6px 18px 6px 25px !important;
}
.menu-link:hover{
    color:#E9C53C !important;
}
.dropdown-toggle:focus{
    background-color:#050329 !important;
}
.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#050329;
    margin-top:5em;
    padding:1em 2em .5em 2em;
    position:relative;
}
.footer-entidades{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.footer-bateria  a img{
  width:8em;
  height:10em;
  margin:0 2em 0 2em;
}

.footer-Bears  a img{
  width:9em;
  height:8em;
  margin:0 2em 0 2em;
}
.footer-E-sports  a img{
  width:8em;
  height:8em;
  margin:0 2em 0 2em;
}

.footer-copyright{
    display:flex;
    flex-direction:column;
}
.footer-empresa{
    padding:1em;
}
.footer-empresa p {
    color:#F2F2F2;
}
.footer-dev p{
    padding-left:8em;
}

.footer-dev p{
    color:#F2F2F2;
}

@media (min-width:450px) and (max-width:800px) {
.menu-itens-right{
    padding-top:.1em !important;
}
}
@media (max-width:450px) {
 .footer-bateria  a img{
  width:5em;
  height:7em;
  margin:0 1em 0 1em;
}

.footer-Bears  a img{
  width:6em;
  height:5em;
  margin:0 1em 0 1em;
}
.footer-E-sports  a img{
  width:5em;
  height:5em;
  margin:0 1em 0 1em;
}

.footer-copyright{
    display:flex;
    flex-direction:column;
}
.footer-empresa{
    padding:1em;
}
.footer-empresa p {
    color:#F2F2F2;
    font-size:10px;
}
.footer-dev p{
    padding-left:8em;
    color:#F2F2F2;
    font-size:10px;
}
.menu-itens-right{
    padding-top:.1em !important;
}
}
