{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
{%block title%}Contato{%endblock%}
{%block body%}
{% bootstrap_messages %}
<section class="contatos-section">
        <div class="contatos-logo">
        <img src="{%static 'assets/Logo.svg'%}" width="100" height="100" alt="">
    </div>
        <div class="contatos-info">
                <div class="contatos-title">
                </div>
                <form  method="post" class="form_contato">
                {% csrf_token %}
                {%bootstrap_form form%}
                        {% buttons%}
                                <button type="submit" class="btn btn-primary">Enviar</button>
                        {% endbuttons %}
                </form>
        </div>

</section>
{%endblock%}

