{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>

    {%block title%}Esportes{%endblock%}

{%block body%}
{% bootstrap_messages %}
<main class="esportes-area">
    {% for modalidade in Modalidades %}
    {%if forloop.counter|divisibleby:"2" %}
	<section class="default-esportes dark-esportes">
		<div class="container-sm">

		<div class="section-title-esportes">{{modalidade.name}}</div>
		<div class="section-body-esportes">
	    	<div class="section-esportes">
	    		<div class="section-esportes--right---esquerda">
	            	<img src="{{modalidade.image.url}}" />
	        	</div>
	    		<div class="section-esportes--left---esquerda">
	                <p> {{modalidade.previa}}</p>
	                <br/>
	                <a href="{%url 'Modalidades_View' modalidade.slug %}" class="section-button-dark">Ver esporte</a>
	            </div>
	        </div>
	   	</div>
		</div>
	</section>
    {%else%}
	<section class="default-esportes light-esportes">
	<div class="container-sm">

		<div class="section-title-esportes">{{modalidade.name}}</div>
		<div class="section-body-esportes">
	    	<div class="section-esportes">
	    		<div class="section-esportes--left">
	                <p>{{modalidade.previa}}</p>
	                <br/>
	                <a href="{%url 'Modalidades_View' modalidade.slug %}" class="section-button-light">Ver esporte</a>
	            </div>
	        	<div class="section-esportes--right">
	            	<img src="{{modalidade.image.url}}" />
	        	</div>

	        </div>
	   	</div>

	</div>
	</section>
    {%endif%}
    {%endfor%}
</main>
{%endblock%}
</html>