{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}

<head>
    <meta charset="UTF-8"/>
    {%block title%}ERRO 404{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
<div class="Erro">
    <h1>Ops</h1>
    <h2>Parece que você se perdeu, página solicitada não foi encontrada</h2>
</div>
{% bootstrap_javascript jquery='full'%}
{%endblock%}