{% load static %}
{% load i18n %}
{%load bootstrap4 %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="keywords" content="Atlética,Avalanche,UTFPR,A.A.A.E.A UTFPR-CT,alavanche,Universidade Tecnológica Federal do Parana,Engenhariadas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{% block title %}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="description" content="A plataforma web da Associação Atlética Acadêmica de Engenharia e Arquitetura da UTFPR-CT, A Avalanche">
		<link href="{% static 'css/style.css' %}" rel="stylesheet"/>
		<link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "oscar/partials/google_analytics.html" %}
        {% endblock %}

	</head>
	<body>
		<header>
      <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{%url 'Home'%}">
    <img src="{%static 'assets/Logo.svg'%}" width="80" height="80" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="Eventos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Eventos
        </a>
        <div class="dropdown-menu" aria-labelledby="Eventos">
          <a class="dropdown-item" href="{% url 'Eventos' %}">Integração</a>
          <a class="dropdown-item" href="{% url 'Social'%}">Sociais</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'Esportes'%}">Esportes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Entidades" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entidades
        </a>
        <div class="dropdown-menu" aria-labelledby="Entidades">
            <a class="dropdown-item" href="{%url 'E-sports'%}">E-Sports</a>
            <a class="dropdown-item" href="#">Bateria</a>
            <a class="dropdown-item" href="#">Cheers</a>
            <a class="dropdown-item" href="#">BBBA</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{%url 'Contatos'%}">Contatos</a>
      </li>
    </ul>
  </div>
</nav>
    {%block Header%}{%endblock%}
    </header>

		{%block body%}
		{%endblock%}
        <footer>
            <section class="footer">
                <div class="footer-entidades">
                    <div class="footer-bateria">
                        <a href="https://www.instagram.com/bateria.avalanche/?hl=pt-br"><img src="{%static 'assets/Logo - Bateria Avalanche.png'%}"></a>
                    </div>
                    <div class="footer-E-sports">
                        <a href="https://www.instagram.com/avalancheesports/?hl=pt-br"><img src="{%static 'assets/E-Sports-Logo.png'%}"></a>
                    </div>
                    <div class="footer-Bears">
                        <a href="https://www.instagram.com/bears_cheerleading/?hl=pt-br"><img src="{%static 'assets/Bears -Logo.png'%}"></a>
                    </div>

                </div>
                <div class="footer-copyright">
                    <div class="footer-empresa"><p>A.A.A.E.A UTFPR-CT | CNPJ 13.223.065/0001-29</p></div>
                    <div class="footer-dev"><p>by Diretoria de TI</p></div>
                </div>
            </section>
        </footer>

        {% bootstrap_javascript jquery='full'%}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	</body>
</html>
