{% load static %}
{%load bootstrap4 %}
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="keywords" content="Atlética,Avalanche,UTFPR,A.A.A.E.A UTFPR-CT,alavanche,Universidade Tecnológica Federal do Parana,Engenhariadas">
        <meta name ="viewport" content="width = device-width,inicial-scale = 1.0">
		<title>{% block title %}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
        {% bootstrap_css %}
		<link href="{% static 'css/style.css' %}" rel="stylesheet"/>
		<link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>


	</head>
	<body>

		<header>
            {%if user.is_authenticated%}
            <div class="adicional">
            <div class="usuario"><pre><a href="{%url 'Minha_Conta'%}">{{user.Nome_completo}}</a>     <a href="{%url 'Logout'%}">Logout</a> </pre></div>
            </div>
            {%else%}
    <div class="adicional">
        <div class="usuario"><pre><a href="{%url 'Login'%}">Login</a>     <a href="{%url 'Cadastro'%}">Cadastre-se</a></pre></div>
    </div>
            {%endif%}
    <div class="header">
        <div class="logo">
            <div class="logoimg"><a href="{% url 'Home'%}"><img src="{%static 'assets/logo.png'%}"></a></div>
        </div>
        <div class="logo-texto"><a href="{% url 'Home'%}">A.A.A.E.A UTFPR - Avalanche</a></div>

        <div class="menu">
            <!--img class="menu-opener" src="{%static 'assets/menu.png'%}" /-->
            <input type="checkbox" id="Bt_menu" style="display:none;">
            <label for = "Bt_menu">&#9776;</label>
             <nav>
                <ul>
                    <li ><a href="{% url 'Home' %}">Home</a></li>
                    <li><a href="{% url 'Produtos'%}">Produtos</a></li>
                    <li><a href="">Eventos<img src="{% static 'assets/seta-baixo.png'%}"></a>
                        <div class="submenu">
                            <a class="subm" href="{% url 'Social'%}"><div class="submenuitem">Ações sociais</div></a>
                            <a class="subm" href="{% url 'Eventos' %}"><div class="submenuitem">Integração</div></a>
                        </div>
                    </li>
                    <li><a href="">Esportes<img src="{% static 'assets/seta-baixo.png'%}"></a>
                        <div class="submenu">
                            <a class="subm" href="{% url 'Esportes'%}"><div class="submenuitem">Modalidades</div></a>
                            <a class="subm" href="{% url 'Competicoes'%}"><div class="submenuitem">Competições</div></a>
                        </div>
                    </li>
                    <li><a href="{% url 'Blog'%}">Blog</a></li>
                    <li><a href="{% url 'E-sports'%}">E-Sports</a></li>
                    <li><a href="{% url 'Contatos'%}">Contatos</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </header>
		{%block body%}
		{%endblock%}
        {% bootstrap_javascript jquery='full'%}
		<footer>
    <div class="footer--area">
        <div class="footer--item">
                Copyright © 2020  Avalanche Adriano Oliveira - Lucas Vinicius Todos os direitos reservados.
        </div>
    </div>
</footer>
	</body>
</html>
