{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
{%block title%}Bateria Avalanche{%endblock%}
{%block body%}
{% bootstrap_messages %}
<main class="container">
    <section class="default light about-us">
        <div class="section-title">Sobre Nós</div>
        <div class="section-body">
            <div class="section-sobre">
                <p>
                 Desde 2009 a Bateria Avalanche está presente apoiando os atletas que representam nossa UTFPR em qualquer lugar que estejam. Sempre cantando alto e incentivando o time fazemos nossa parte na arquibancada para que eles busquem a vitória.
                  <br/><br/>

              Além disso participamos de diversos campeonatos todos os anos, como Engenharíadas e Curitibatuque.
                  <br/><br/>
                  Sem esquecer também que estamos sempre presentes nas famosas cervejadas da nossa amada Avalanche pra dar aquela animada no estilo mais avalanchesco possível!
                   <br/><br/>
                   Infelizmente com a pandemia suspendemos nossos ensaios e shows por tempo indeterminado. Esperamos mudar esse texto o mais breve possível. Então fiquem ligados em nossas redes sociais!
                  <br/><br/>
                </p></div></div>
    </section>
    <section class="directors">
        <h1><b>Diretoria</b></h1>
    <div class="diretores">
    {%for diretor in Diretoria%}
        <div class="diretor">
            <h2>{{diretor.name}}</h2>
            <div class="diretor-info">
            {% if diretor.foto.url != blank%}
                <img src="{{diretor.foto.url}}">
            {%endif%}
            <p>{{diretor.get_cargo_display}}</p>
            <div class="diretor-social">
                <a href="{{diretor.instagram}}"><img src="{%static 'assets/insta.svg'%}" /></a>
                <a href="{{diretor.facebook}}"><img src="{%static 'assets/facebook.svg'%}" /></a>
            </div>
            </div>

        </div>
        {%endfor%}
    </div>
    </section>
</main>
{%endblock%}

