{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Contatos{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
{% bootstrap_messages %}
<h1 style="font-family:'Road_Rage', Arial, Helvetica, sans-serif; color:#050329; padding:1vh 0 0 1vw;">Envie uma Mensagem pra gente</h1>
<form  method="post" class="form_contato">
        {% csrf_token %}
        {%bootstrap_form form%}
        {% buttons%}
        <button type="submit" class="btn btn-primary">Enviar</button>
        {% endbuttons %}
    </form>
{% bootstrap_javascript jquery='full'%}
{%endblock%}

