{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Diretores{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
{% bootstrap_messages %}
<div class="directors">
<h1>Diretoria</h1>
{%for diretor in Diretoria%}
<section class="diretor-section">
    <div class="diretor-section-image">
    {% if diretor.foto.url != blank%}
      <img src = "{{diretor.foto.url}}">
    {%endif%}
    </div>
    <div class="diretor-section-info">
    <h2>{{diretor.name}}</h2>
    <p class="diretor-{{diretor.cargo}}">{{diretor.cargo}}</p>
     <div class="diretor-section-social">
    <a href="{{diretor.instagram}}"><img src="{%static 'assets/instagram.png'%}" /></a>
    <a href="{{diretor.facebook}}"><img src="{%static 'assets/facebook.png'%}" /></a>
     </div>
    </div>
</section>
    {%endfor%}
</div>
<script>
    (function(){
        var $presidente = document.querySelectorAll(".diretor-1")
        for(var i=0;i<$presidente.length;i++){
        $presidente[i].innerHTML="Presidente"
        }
        var $vice = document.querySelectorAll(".diretor-2")
        for(var i=0;i<$vice.length;i++){
        $vice[i].innerHTML="Vice Presidente"
        }
        var $geral = document.querySelectorAll(".diretor-3")
        for(var i=0;i<$geral.length;i++){
        $geral[i].innerHTML="Diretor Geral"
        }
    })()
</script>
{% bootstrap_javascript jquery='full'%}
{%endblock%}

