{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}

<head>
    <meta charset="UTF-8"/>
    {%block title%}Diretores{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
{% bootstrap_messages %}
<h1>Diretores</h1>
{%for diretor in Diretoria%}
    <p>{{diretor.name}}</p>
    <p>{{diretor.cargo }}</p>
    {% if diretor.foto.url != blank%}
      <img src = "{{diretor.foto.url}}">
    {%endif%}
{%endfor%}

{% bootstrap_javascript jquery='full'%}
{%endblock%}

