{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>

    {%block title%}Esportes{%endblock%}
{%block description%}<meta name="description" content="Modalidades Avalanche">{%endblock%}
{%block body%}
{% bootstrap_messages %}
<main class="esportes-area">
	{%if request.is_mobile%}
	<div class = "eventos-mobile">
	{%for modalidade in Modalidades%}
        <div class="card">
            <h2>{{modalidade.name}}</h2>
            <div class="card-info">
            {% if modalidade.image.url != blank%}
                <div class="card-image">
                <img src="{{modalidade.image.url}}">
                </div>
            {%endif%}
				<div class = "botao-ver">
					<a href="{%url 'Modalidades_View' modalidade.slug %}" class="btn btn-primary">Ver esporte</a>
				</div>
			</div>
			</div>

	{%endfor%}
		</div>
	{%else%}
    {% for modalidade in Modalidades %}
    {%if forloop.counter|divisibleby:"2" %}
	<section class="default-esportes dark-esportes">
		<div class="container-sm">

		<div class="section-title-esportes">{{modalidade.name}}</div>
		<div class="section-body-esportes">
	    	<div class="section-esportes">
	    		<div class="section-esportes--right---esquerda">
	            	<img src="{{modalidade.image.url}}" />
	        	</div>
	    		<div class="section-esportes--left---esquerda">
	                <p> {{modalidade.previa|linebreaks}}</p>
	                <br/>
	                <a href="{%url 'Modalidades_View' modalidade.slug %}" class="section-button-dark">Ver esporte</a>
	            </div>
	        </div>
	   	</div>
		</div>
	</section>
    {%else%}
	<section class="default-esportes light-esportes">
	<div class="container-sm">

		<div class="section-title-esportes">{{modalidade.name}}</div>
		<div class="section-body-esportes">
	    	<div class="section-esportes">
	    		<div class="section-esportes--left">
	                <p>{{modalidade.previa|linebreaks}}</p>
	                <br/>
	                <a href="{%url 'Modalidades_View' modalidade.slug %}" class="section-button-light">Ver esporte</a>
	            </div>
	        	<div class="section-esportes--right">
	            	<img src="{{modalidade.image.url}}" />
	        	</div>

	        </div>
	   	</div>

	</div>
	</section>
    {%endif%}
    {%endfor%}
	{%endif%}
</main>
{%endblock%}
</html>