<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>
<head>
    <meta charset="UTF-8" />
    {%block title%}Eventos Avalanche{%endblock%}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
</head>
{%block body%}
<main class="eventos-area">
    {%for Evento in page_obj %}
	{%if forloop.counter|divisibleby:"2" %}
	<section class="default-eventos dark-eventos">
		<div class="container-sm">
		<div class="section-title-eventos">{{Evento.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos">
	    		<div class="section-eventos--right---esquerda">
	            	<img src="{{Evento.image.url}}" />
	        	</div>
	    		<div class="section-eventos--left---esquerda">
	                <p> {{Evento.previa}}</p>
	                <br/>
	                <a href="{% url 'Eventos_View' Evento.slug %}" class="section-button-dark">Ver evento</a>
	            </div>
	        </div>
	   	</div>
		</div>
	</section>
    {%else%}
	<section class="default-eventos light-eventos">
		<div class="container-sm">
		<div class="section-title-eventos">{{Evento.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos">
	    		<div class="section-eventos--left">
	                <p>{{Evento.previa}}</p>
	                <br/>
	                <a href="{% url 'Eventos_View' Evento.slug %}" class="section-button-light">Ver evento</a>
	            </div>
	        	<div class="section-eventos--right" style=" margin:10px;">
	            	<img style="width:100%; height:100%;" src="{{Evento.image.url}}" />
	        	</div>

	        </div>
	   	</div>
		</div>
	</section>
    {%endif%}
    {%endfor%}
    {% include 'paginacao.html' %}
</main>
 {% bootstrap_javascript jquery='full'%}
{%endblock%}
</html>