{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
<head>
   <meta charset="UTF-8"/>
   {%block title%} Eventos Avalanche {%endblock%}
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
   <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}

</head>
{%block body%}
      <h1>Eventos Avalanche</h1>
<form class="navbar-form navbar-left" role="search" action="{% url 'Eventos' %}">
	        <div class="form-group">
	          <input name="q" type="text" class="form-control" placeholder="Pesquisar..." />
	        </div>
	      </form>
   <div class = "Eventos-titulo">
      <p>Proximos eventos do urso</p>
   </div>
   <div class="Eventos">
      {% for eventos in page_obj %}
      <li> <a href="{% url 'Eventos_View' eventos.slug %}"> {{eventos.name}} </a> </li>
      {% endfor %}
   </div>
{% include 'paginacao.html' %}
{% bootstrap_javascript jquery='full'%}
{%endblock%}
</html>