{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Memorial{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
<main>
<section class = "galeria">
    <div class="galeria_titulo">
        <h1>Memorial Avalanche</h1>
    </div>
    <div class="galeria_conteudo">
        {%for album in Albuns%}
        <section class ='album_secao'>
            <div class="album_capa">
                <a href="{%url 'Galeria_View' album.slug%}"><img src="{{album.capa.url}}"/></a>
            </div>
            <div class="album_titulo">
                <h2>{{album.titulo}}</h2>
            </div>
        </section>
        {%endfor%}
    </div>
</section>
</main>
{%endblock%}

