{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
{%block title%} A.A.A.E.A UTFPR-CT{%endblock%}
{%block body%}
<main>
    {% bootstrap_messages %}
    <section class="banner">
        <div class="sliders" style="margin-left:0vw;">
            <div class="slide">
                <div class="slidearea">
                    <h1>Como é bom ser Sócio<br/></h1>
                    <h1><span>Avalanche</span></h1>
                    <h2>O que está esperando ?</h2>
                    <a href="{%url 'Socio'%}" class="button">quero ser sócio!</a>
                </div>
            </div><div class="slide">
                <div class="slidearea">
                    <h1>Design is about<br/><span>doido</span></h1>
                    <h2>Call Us: +00 0 1234 5678</h2>
                    <a href="" class="button">Get in touch!</a>
                </div>
            </div><div class="slide">
                <div class="slidearea">
                    <h1>Design is about<br/><span>Algo</span></h1>
                    <h2>Call Us: +00 0 1234 5678</h2>
                    <a href="" class="button">Get in touch!</a>
                </div>
            </div>
        </div>
        <div class="sliders-pointers">
            <div class="pointer active"></div>
            <div class="pointer"></div>
            <div class="pointer"></div>
        </div>
    </section>

    <section class="default light">
        <div class="section-title">Sobre nós</div>
        <div class="section-desc">Conheça a avalanche</div>
        <div class="section-body">
            <div class="section-aboutus">
                <div class="section-aboutus--left">
                    <p>A.A.A.E.A - Associação Atlética Acadêmica de Engenharia e Arquitetura da Universidade Tecnológica do Paraná, Campus Curitiba ou simplesmente Avalanche. Somos um começo, um refúgio e ao mesmo tempo uma libertação, mesmo que às duras penas, para uma mudança na forma como a jornada de um curso de Engenharia ou Arquitetura é enfrentada.</p>
                    <br/>
                    <a href="{% url 'SobreNos' %}" class="section-button">Continue lendo</a>
                </div>
                <div class="section-aboutus--right">
                    <img src="{%static 'assets/Sobrenos.jpg' %}" />
                </div>
            </div>
        </div>
    </section>
    <section class="default dark bg-team">
        <div class="section-team-area">
            <div class="section-title">Nossa equipe</div>
            <div class="section-desc">Ursos avalanche</div>
            <div class="section-body">
                <div class="section-team">
                    <div class="sliders" style="margin-left:0;">
                        <div class="slide">
                            <div class="slidearea">
                                <img class="section-team--avatar" src="{{Vice.foto.url}}" />
                                <div class="section-team--name">{{Vice.name}}</div>
                                <div class="section-team--role">Vice-Presidente</div>
                                <div class="section-team--social">
                                        <a href="{{Vice.intagram}}"><img src="{%static 'assets/instagram.png'%}" /></a>
                                        <a href="{{Vice.facebook}}"><img src="{%static 'assets/facebook.png'%}" /></a>
                                </div>
                            </div>
                        </div><div class="slide">
                            <div class="slidearea">
                                <img class="section-team--avatar" src="{{Presidente.foto.url}}" />
                                <div class="section-team--name">{{Presidente.name}}</div>
                                <div class="section-team--role">Presidente</div>
                                <div class="section-team--social">
                                        <a href="{{Presidente.intagram}}"><img src="{%static 'assets/instagram.png'%}" /></a>
                                        <a href="{{Presidente.facebook}}"><img src="{%static 'assets/facebook.png'%}" /></a>
                                </div>
                            </div>
                        </div><div class="slide">
                            <div class="slidearea">
                                <img class="section-team--avatar" src="{{Geral.foto.url}}" />
                                <div class="section-team--name">{{Geral.name}}</div>
                                <div class="section-team--role">Diretor Geral</div>
                                <div class="section-team--social">
                                        <a href="{{Geral.instagram}}"><img src="{%static 'assets/instagram.png'%}" /></a>
                                        <a href="{{Geral.facebook}}"><img src="{%static 'assets/facebook.png'%}" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="default dark">
        <div class="section-title">Esportes</div>
        <div class="section-desc">Destaques esportes avalanche</div>
        <div class="section-body">
            <div class="section-services">
                <div class="section-service">
                    <img src="{%static 'assets/nadador.png'%}" />
                    <h4>Natação</h4>
                    <p>Frase enaltecedora</p>
                </div>
                <div class="section-service">
                    <img src="{% static 'assets/judo.png'%}" />
                    <h4>Judô</h4>
                    <p> mais uma Frase enaltecedora</p>
                </div>
                <div class="section-service">
                    <img src="{% static 'assets/raquete.png'%}" />
                    <h4>Tênis de mesa</h4>
                    <p> vish outra Frase enaltecedora</p>
                </div>
                <div class="section-service">
                    <img src="{% static 'assets/handebol.png'%}" />
                    <h4>Handebol</h4>
                    <p>só mais uma Frase enaltecedora</p>
                </div>
            </div>
        </div>
    </section>
    <section class="default light premium">
        <div class="section-title">Produto</div>
        <div class="section-desc">Produto em destaque</div>
        <div class="section-body">
            <div class="section-premium">
                <div class="sliders" style="margin-left:0;">
                    <div class="slide">
                        <div class="slidearea">
                            <div class="section-premium--left">
                                <a href="{%url 'ProdutosBase_view' Produtos.slug %}"><img src="{{Produtos.thumb.url}}" /></a>
                            </div>
                            <div class="section-premium--right">
                                    <div class="section-premium--item">
                                        <img src="{% static 'assets/check.png'%}" />
                                        <div>
                                            <h4>Nome do produto</h4>
                                            {{Produtos.name}}<br/>
                                        </div>
                                    </div>
                                    <div class="section-premium--item">
                                        <img src="{%static 'assets/check.png'%}" />
                                        <div>
                                            <h4>Mais informações</h4>
                                           {{Produtos.descricao}}
                                        </div>
                                    </div>
                                    <div class="section-premium--item">
                                        <img src="{%static 'assets/check.png'%}" />
                                        {%if user.get_socio %}
                                        <div>
                                            <h4>Preço</h4>
                                            {{Produtos.p_socio}}
                                        </div>
                                        {%else%}
                                        <div>
                                            <h4>Preço</h4>
                                            {{Produtos.preco}}
                                        </div>
                                        {%endif%}
                                    </div>
                            </div>
                        </div>
                    </div><div class="slide">
                        <div class="slidearea">
                            ...
                        </div>
                    </div><div class="slide">
                        <div class="slidearea">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-map">
        <div class="section-map--area">
            <h1 style="color:#050329;"><strong>Onde Estamos ?</strong></h1>
            <div class="section-map--info">
                <div class = "google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.9322846631994!2d-49.27000273059359!3d-25.440527326864046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce465f9b0c855%3A0xda22d429219f2f12!2sUTFPR%20Campus%20Curitiba!5e0!3m2!1spt-BR!2sbr!4v1596433584206!5m2!1spt-BR!2sbr" width="600" height="385" frameborder="0" style="border:0; padding-bottom:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    <div class="section-map--info-item">
                        <div class="section-map--info-item-img">
                            <img src="{% static 'assets/localizacao.png' %}" />
                        </div>
                        Av. Sete de Setembro, 3165 - Rebouças, Curitiba - PR, 80230-901
                    </div>
                    <div class="section-map--info-item">
                        <div class="section-map--info-item-img">
                            <img src="{% static 'assets/telefone.png'%}" />
                        </div>
                        Endereço completão que irá ter algum tamanho
                    </div>
                    <div class="section-map--info-item">
                        <div class="section-map--info-item-img">
                            <img src="{%static 'assets/arroba.png'%}" />
                        </div>
                        Endereço completão que irá ter algum tamanho
                    </div>
            </div>
        </div>
    </section>


</main>
{% bootstrap_javascript jquery='full'%}

{%endblock%}
</html>