{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}{{Eventos.name}}{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>

{%block body%}
<h1>Eventos Avalanche</h1>
<h1>{{Eventos.name}}</h1>
<em>{{Eventos.descricao}}</em>
   {% if Eventos.image.url != blank%}
    <img src = "{{Eventos.image.url}}">
   {%endif%}
<a href="{% url 'Eventos_Midias' Eventos.slug%}">Galeria {{Eventos.name}}</a>
{% bootstrap_javascript jquery='full'%}
{%endblock%}

