<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>
<head>
    <meta charset="UTF-8" />
    {%block title%}{{Eventos.name}}{%endblock%}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
</head>
{%block body%}
<main>
    <section class="default-eventos light-eventos">
        <div class="section-title-eventos">{{Eventos.name}}</div>
        <div class="section-body-eventos">
            <div class="section-evento">
                <div class="section-evento-left">
                    <p>
                    {{Eventos.descricao}}
                    </p>
                </div>
                {%if Eventos.image.url != blank%}
                <div class="section-evento-right">
                    <img src="{{Eventos.image.url}}" />
                </div>
                {%endif%}
            </div>
        </div>
    </section>
     <section class="default dark bg-evento">
        <div class="section-evento-area">
            <div class="section-title">Fotos do evento</div>
            <div class="section-desc">sub-titulo</div>
            <div class="section-body">
                <div class="section-esporte">
                    <div class="sliders" style="margin-left:0;">
                        <div class="slide">
                            <div class="slidearea">
                                <img class="section-esporte--avatar" src="{%static 'assets/foto6.jpg'%}" />
                            </div>
                        </div><div class="slide">
                            <div class="slidearea">
                                <img class="section-esporte--avatar" src="{%static 'assets/pika.jpg'%}" />
                            </div>
                        </div><div class="slide">
                            <div class="slidearea">
                                <img class="section-esporte--avatar" src="{% static 'assets/eee.jpg' %}" />
                            </div>
                        </div><div class="slide">
                            <div class="slidearea">
                                <img class="section-esporte--avatar" src="{% static 'assets/eee.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sliders-pointers">
                    <div class="pointer active"></div>
                    <div class="pointer"></div>
                    <div class="pointer"></div>
                </div>
            </div>
        </div>
    </section>
</main>
{%endblock%}
</html>