<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
    {%block title %}Sobre Nós{%endblock%}
{%block body%}
<main>
    <section class="default light">
        <div class="section-title">Sobre Nós</div>
        <div class="section-body">
            <div class="section-sobre">
                <p>
                  A.A.A.E.A - Associação Atlética Acadêmica de 
                Engenharia e Arquitetura da Universidade Tecnológica do 
                Paraná, Campus Curitiba ou simplesmente Avalanche. Somos
                um começo, um refúgio e ao mesmo tempo uma libertação, 
                mesmo que às duras penas, para uma mudança na forma como 
                a jornada de um curso de Engenharia ou Arquitetura é 
                enfrentada.<br/><br/>

                Todo Cefetiano, se assim podemos ainda designar nossos 
                guerreiros, sabe que aqueles blocos, entre escadas e rampas, 
                criam uma atmosfera mais fria que as lâmpadas que iluminam os 
                setores. Acaba que tudo não passa de um emaranhado de passos 
                para conquistar um diploma, necessário para enfrentar o temido
                mercado de trabalho daqui a cinco anos. Ou seis. Ou quantos 
                forem necessários.<br/><br/>

                Então por que existir uma Atlética nesse lugar, onde a maioria
                dos estudantes pensa mais no seu futuro do que no presente?
                Pois bem, no passado pessoas acreditaram na ideia insana de 
                que no meio de cursos gélidos, racionais e exatos, pudesse 
                haver salvação. Acreditaram que ao final da faculdade, poderia
                existir mais que apenas notas vazias em um boletim, lembranças
                de noites viradas em claro e trabalhos jogados em uma gaveta.<br/><br/>

                Hoje, graças a esses doidos revolucionários, cada vez mais 
                novos Cefetianos acreditam e vivem essa ideia. Aí entra vocês:
                ATLETAS E TORCIDA, que saem de suas casas e dos seus estudos, 
                que dedicam tempo aos treinos e ensaios. Pessoas que estouram 
                bolhas nas mãos da exaustiva repetição da caixa ou surdo. 
                Guerreiros que perdem a voz após gritar com PAIXÃO empurrando
                seus times à frente. E ATLETAS que engolem a dor no joelho, 
                ignoram a falta de ar, respiram fundo e correm, pois a TORCIDA
                está cantando e ainda tem mais 5 minutos do jogo.<br/><br/>

                Jogando, torcendo, ganhando, festando, bebendo, comendo, 
                competindo, correndo, lutando, doando, e acima de tudo, 
                PARTICIPANDO. Assim nossos guerreiros nos recompensam e com 
                certeza são recompensados. Cada um conquistou uma glória 
                pessoal. Fosse por ter suado e ganhando do outro time em uma 
                partida decisiva, por em uma de nossas arrecadações ter dado a
                uma criança a felicidade expressada em um brinquedo, ou por 
                simplesmente ter virado uma caneca de cerveja mais rápido que
                um cara da Atlética rival. Dessas conquistas pessoais, vem a 
                conquista maior: o respeito coletivo. Estamos, juntos, 
                representando mais que apenas a nós mesmos, representamos um
                ideal, representamos A NOSSA UNIVERSIDADE.<br/><br/>

                E, para o futuro, lembranças de uma arquibancada pulando em 
                harmonia, de vibrações intensas e de sorrisos de satisfação. 
                ORGULHO. E se a memória não for suficiente, roxos e 
                cicatrizes, além da falta de voz uma semana após os jogos. 
                Você viveu.<br/><br/>

                Não importa onde, quando e como for, estaremos fazendo 
                acontecer! Muito obrigado a todos que vestem a nossa camisa 
                com SUOR, ORGULHO e PAIXÃO, sempre.</p>
    </section>
</main>
{%endblock%}
</html>