<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
{%load bootstrap4 %}
<html>
    {%block title %}Sobre Nós{%endblock%}
{%block body%}
<main class="container-sm">
    <section class="default light about-us">
        <div class="section-title">Sobre Nós</div>
        <div class="section-body">
            <div class="section-sobre">
                <p>
                  A.A.A.E.A - Associação Atlética Acadêmica de 
                Engenharia e Arquitetura da Universidade Tecnológica do 
                Paraná, Campus Curitiba ou simplesmente Avalanche. Somos uma mudança na forma como
                a jornada de um curso de Engenharia ou Arquitetura é 
                enfrentada.<br/><br/>

                Jogando, torcendo, ganhando, festando, bebendo, comendo, 
                competindo, correndo, lutando, doando, e acima de tudo, 
                PARTICIPANDO. Assim nossos guerreiros nos recompensam e com 
                certeza são recompensados. Cada um conquistou uma glória 
                pessoal. Fosse por ter suado e ganhando do outro time em uma 
                partida decisiva, por em uma de nossas arrecadações ter dado a
                uma criança a felicidade expressada em um brinquedo, ou por 
                simplesmente ter virado uma caneca de cerveja mais rápido que
                um cara da Atlética rival. Dessas conquistas pessoais, vem a 
                conquista maior: o respeito coletivo. Estamos, juntos, 
                representando mais que apenas a nós mesmos, representamos um
                ideal, representamos A NOSSA UNIVERSIDADE.<br/><br/>
                </p></div></div>
    </section>
    <section class="directors">
        <h1><b>Diretoria</b></h1>
    <div class="diretores">
    {%for diretor in Diretoria%}
        <div class="diretor">
            <h2>{{diretor.name}}</h2>
            <div class="diretor-info">
            {% if diretor.foto.url != blank%}
                <img src="{{diretor.foto.url}}">
            {%endif%}
            <p>{{diretor.get_cargo_display}}</p>
            <div class="diretor-social">
                <a href="{{diretor.instagram}}"><img src="{%static 'assets/insta.svg'%}" /></a>
                <a href="{{diretor.facebook}}"><img src="{%static 'assets/facebook.svg'%}" /></a>
            </div>
            </div>

        </div>
        {%endfor%}
    </div>
    </section>
</main>
{%endblock%}
</html>