<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>

    {%block title%} Social Avalanche {%endblock%}
{%block description%}<meta name="description" content="Social Avalanche">{%endblock%}
{%block body%}
{% bootstrap_messages %}
<main class="social-area">
	{%if request.is_mobile%}
	<div class = "eventos-mobile">
	{%for campanhas in page_obj %}
        <div class="card">
            <h2>{{campanhas.name}}</h2>
            <div class="card-info">
            {% if campanhas.image.url != blank%}
                <div class="card-image">
                <img src="{{campanhas.image.url}}">
                </div>
            {%endif%}
				<div class = "botao-ver">
					<a href="{%url 'Campanhas_View' campanhas.slug%}" class="btn btn-primary">Ver ação</a>
				</div>
			</div>
			</div>

	{%endfor%}
		</div>
	{%else%}
    {%for campanhas in page_obj %}
    {%if forloop.counter|divisibleby:"2" %}
	<section class="default-eventos dark-eventos">
		<div class="section-title-eventos">{{campanhas.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos-sociais">
	    		<div class="section-eventos-sociais--right---esquerda">
	            	<img src="{{campanhas.image.url}}" />
	        	</div>
	    		<div class="section-eventos-sociais--left---esquerda">
	                <p>{{campanhas.previa|linebreaks}}</p>
	                <br/>
	                <a href="{%url 'Campanhas_View' campanhas.slug%}" class="section-button-dark">Ver Ação Social</a>
	            </div>
	        </div>
	   	</div>
	</section>
    {%else%}
	<section class="default-eventos light-eventos">
		<div class="section-title-eventos">{{campanhas.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos-sociais">
	    		<div class="section-eventos-sociais--left">
	                <p>{{campanhas.previa|linebreaks}}</p>
	                <br/>
	                <a href="{%url 'Campanhas_View' campanhas.slug%}" class="section-button-light">Ver Ação Social</a>
	            </div>
	        	<div class="section-eventos-sociais--right">
	            	<img src="{{campanhas.image.url}}" />
	        	</div>

	        </div>
	   	</div>
	</section>
    {%endif%}
    {%endfor%}
	{%endif%}
    {% include 'paginacao.html' %}
</main>

{%endblock%}
</html>