<!DOCTYPE html>
{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<html>

    {%block title%} Social Avalanche {%endblock%}
{%block description%}<meta name="description" content="Social Avalanche">{%endblock%}
{%block body%}
{% bootstrap_messages %}
<main class="social-area">
    {%for campanhas in page_obj %}
    {%if forloop.counter|divisibleby:"2" %}
	<section class="default-eventos dark-eventos">
		<div class="section-title-eventos">{{campanhas.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos-sociais">
	    		<div class="section-eventos-sociais--right---esquerda">
	            	<img src="{{campanhas.image.url}}" />
	        	</div>
	    		<div class="section-eventos-sociais--left---esquerda">
	                <p>{{campanhas.previa}}</p>
	                <br/>
	                <a href="{%url 'Campanhas_View' campanhas.slug%}" class="section-button-dark">Ver Ação Social</a>
	            </div>
	        </div>
	   	</div>
	</section>
    {%else%}
	<section class="default-eventos light-eventos">
		<div class="section-title-eventos">{{campanhas.name}}</div>
		<div class="section-body-eventos">
	    	<div class="section-eventos-sociais">
	    		<div class="section-eventos-sociais--left">
	                <p>{{campanhas.previa}}</p>
	                <br/>
	                <a href="{%url 'Campanhas_View' campanhas.slug%}" class="section-button-light">Ver Ação Social</a>
	            </div>
	        	<div class="section-eventos-sociais--right">
	            	<img src="{{campanhas.image.url}}" />
	        	</div>

	        </div>
	   	</div>
	</section>
    {%endif%}
    {%endfor%}
    {% include 'paginacao.html' %}
</main>

{%endblock%}
</html>