{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
{%load widget_tweaks%}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Carrinho{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
{% bootstrap_messages %}
    <div class="cart-title">
        <h1>Carrinho de Compras</h1>
    </div>
<div class="cart-area">
    <div class="cart">
        <form method="post">
            {%csrf_token%}
            {{formset.management_form}}
            {%for form in formset%}
            <section class="cart-section">
                <div class="cart-section-image">
                    <img src="{{form.instance.produto.modelo.thumb.url}}" width="150" height="150">
                </div>
                <div class="cart-section-info">
                    <p><strong>{{form.instance.produto}}</strong></p>

                    <p>Preço: R$ {{form.instance.preco|floatformat:"2"}}</p>
                    <p>Quantidade: {{form.quantidade}}</p>
                <button value="on" type="submit" name = "{{form.DELETE.html_name }}"class="btn btn-danger btn-sm">Remover</button>
                    {{form.id}}
                </div>
            </section>
            {%endfor%}
            <div class="cart-update">
            {% buttons%}
                <button id="updater" type="submit" class="btn btn-info">atualizando</button>
            {% endbuttons %}
             </div>
        </form>
    </div>
    <div class="cart-summary">
        <h2>Resumo</h2>
        <p id = "subtotal">Subtotal: R${{item.total}}</p>
        <p id = "taxa">Taxa de conveniencia: R$</p>
        <p id = "total">Total: R$</p>
        <div class="cart-buttons">
            {% buttons%}
                <button id = "cart-updater" class="btn btn-primary">Atualizar Carrinho</button>
                <a href="{% url 'Produtos' %}"><button class="btn btn-primary">Continuar comprando</button></a>
                <a href="{% url 'Checkout' %}"><button class="btn btn-primary">Finalizar Compra</button></a>
            {% endbuttons %}
        </div>
    </div>
</div>
<script>
    (function(){
    var $updater = document.getElementById('cart-updater');
    var $realupdater = document.getElementById('updater');
    $updater.addEventListener('click',function(){
        $realupdater.click();
    });
    })();
    var $subtotal = document.getElementById('subtotal');
    var $taxa = document.getElementById('taxa');
    var $total = document.getElementById('total');
    if (isNaN({{item.total}})){
        $subtotal.innerHTML = "Subtotal: R$ 0.00"
        $taxa.innerHTML = "Taxa de conveniencia: R$ 0.00"
        $total.innerHTML = "Total: R$ 0.00"
    }
    else{
        $taxa.innerHTML = "Taxa de conveniencia: R$ " + (parseFloat({{item.total}})*0.05).toFixed(2);
        $total.innerHTML = "Total: R$ " + (parseFloat({{item.total}})*1.05).toFixed(2);
    }
</script>
{% bootstrap_javascript jquery='full'%}
{%endblock%}