{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
{%load widget_tweaks%}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Carrinho{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% bootstrap_css %}
</head>

{%block body%}
    {% bootstrap_messages %}
<form class="" action="" method="post">
    {%csrf_token%}
    {{formset.management_form}}
{%for form in formset%}
<tr>

    <td>
        {{form.instance.produto}}
    </td>
    <td>
        {{form.instance.preco|floatformat:"2"}}
    </td>
    <td>
    {{form.quantidade}}
    </td>
    <td>
        {% buttons%}
        <button value="on" type="submit" name = "{{form.DELETE.html_name }}"class="btn btn-danger btn-sm">Remover</button>
      {% endbuttons %}
        {{form.id}}
    </td>

</tr>
    {%endfor%}
{% buttons%}
        <button type="submit" class="btn btn-primary">Atualizar Carrinho</button>
      {% endbuttons %}
</form>
    {% buttons%}
        <a href="{% url 'Produtos' %}"><button class="btn btn-primary">Continuar comprando</button></a>
    {% endbuttons %}
{% buttons%}
        <a href="{% url 'Checkout' %}"><button class="btn btn-primary">Finalizar Compra</button></a>
{% endbuttons %}

{% bootstrap_javascript jquery='full'%}
{%endblock%}
