{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Meus Pedidos{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
{% bootstrap_messages%}
<h2 style="font-family:'Road_Rage', Arial, Helvetica;color:#050329;padding-left:1%;">Meus Pedidos</h2>
<div class="meus_pedidos">
    <div class="account-options">
          <ul>
              <li><a href="{% url 'Minha_Conta' %}">Minha Conta</a></li>
              <li><a href="{% url 'Meus_Pedidos'%}">Meus Pedidos</a></li>
              <li><a href="{% url 'Meus_Dados' %}">Meus Dados</a></li>
          </ul>
    </div>
    <div class="meus-pedidos-info">
    {%for pedido in object_list%}
    <div class="Pedidos">
        <div class="Pedidos-info">
    <a href="{% url 'PedidoView' pedido.pk %}"><h2>Pedido #{{ pedido.pk }}</h2></a>
            <p id = 'total'> Total: R$ {{ pedido.total|floatformat:"2"}}</p>
             </div>

   {% for item in pedido.Itens.all %}
        <section class="order-section">
                <div class="order-section-image">
                    <img src="{{item.produto.modelo.thumb.url}}" width="150" height="150">
                </div>
                <div class="order-section-info">
                    <p><strong>{{item.produto}}</strong></p>
                    <p>Preço: R$ {{item.preco|floatformat:"2"}}</p>
                    <p>Quantidade: {{item.quantidade}}</p>
                </div>
        </section>
        {%endfor%}
         </div>
    {%endfor%}
   </div>
</div>
<script>
        var $total = document.querySelectorAll("#total")
        var cont = 0
        {%for pedido in object_list%}
        $total[cont].innerHTML = 'Total: R$ ' + (parseFloat({{pedido.total}})*1.05).toFixed(2);
        console.log($total[cont])
        cont++;
        {%endfor%}
</script>
{% bootstrap_javascript jquery='full'%}
{%endblock%}
