{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Lojinha da Avalanche{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
 <h1>Produtos Avalanche</h1>
<form class="navbar-form navbar-left" role="search" action="{% url 'Produtos' %}">
	        <div class="form-group">
	          <input name="q" type="text" class="form-control" placeholder="Pesquisar..." />
	        </div>
	      </form>
<div class="clearproducts">
{%for Produto in page_obj %}
<div class="products">
    <p><strong><a href="{%url 'ProdutosBase_view' Produto.slug %}">{{Produto.name}}</a></strong></p>
{% if Produto.thumb.url != blank%}
      <a href="{%url 'ProdutosBase_view' Produto.slug %}"><img src = "{{Produto.thumb.url}}" height="250" width="250"></a>
    {%endif%}
    {%if user.get_socio %}

   <span class="preco_socio">
                <del>Preço: R${{Produto.preco}}</del>
              </span><br>
         <strong><span>Sócio: R${{Produto.p_socio}}</span></strong>
    {%else%}
    <strong><span class="preco">Preço: R${{Produto.preco}}</span></strong>
    {%endif%}
</div>
{%endfor%}
</div>
{% include 'paginacao.html' %}
{%endblock%}
