{% extends 'Base.html' %}
{%load static%}
{%load bootstrap4 %}
<head>
    <meta charset="UTF-8"/>
    {%block title%}Lojinha da Avalanche{%endblock%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    {% bootstrap_css %}
</head>
{%block body%}
 <h1>Produtos Avalanche</h1>
<form class="navbar-form navbar-left" role="search" action="{% url 'Produtos' %}">
	        <div class="form-group">
	          <input name="q" type="text" class="form-control" placeholder="Pesquisar..." />
	        </div>
	      </form>
{%for Produto in page_obj %}
{%if Produto.Status == 'Ativo' %}
<a href="{%url 'Produtos_view' Produto.slug %}">{{Produto.name}}</a>
<p>{{Produto.descricao}}</p>
{% if Produto.thumb.url != blank%}
      <img src = "{{Produto.thumb.url}}">
    {%endif%}
{%endif%}
{%endfor%}
{% include 'paginacao.html' %}
{% bootstrap_javascript jquery='full'%}
{%endblock%}
