{% load i18n %}
{%load static%}
<footer>
    {% block footer %}
        <section class="footer">
                <div class="footer-entidades">
                    <div class="footer-E-sports">
                        <a href="https://www.instagram.com/bateria.avalanche/?hl=pt-br"><img src="{%static 'assets/Bateria.png'%}"></a>
                    </div>
                    <div class="footer-E-sports">
                        <a href="https://www.instagram.com/avalancheesports/?hl=pt-br"><img src="{%static 'assets/Esports.png'%}"></a>
                    </div>
                    <div class="footer-E-sports">
                        <a href="https://www.instagram.com/bears_cheerleading/?hl=pt-br"><img src="{%static 'assets/Cheers.png'%}"></a>
                    </div>
                    <div class="footer-E-sports">
                        <a href="https://www.instagram.com/bears_cheerleading/?hl=pt-br"><img src="{%static 'assets/BBBA.png'%}"></a>
                    </div>

                </div>
                <div class="footer-copyright">
                    <div class="footer-empresa"><p>A.A.A.E.A UTFPR-CT | CNPJ 13.233.065/0001-29</p></div>
                    <div class="footer-dev"><p>by Diretoria de TI</p></div>
                </div>
            </section>
    {% endblock %}
</footer>